h4 {
background: AliceBlue;
color: MidnightBlue;
margin-top: 10px;
margin-right: 300px;
margin-bottom: 20px;
margin-left: 300px;
}
h2 {
background: AliceBlue;
margin-top: 10px;
margin-right: 300px;
margin-bottom: 20px;
margin-left: 300px;
}
h3
{
margin-top: 10px;
margin-right: 300px;
margin-bottom: 20px;
margin-left: 300px;
}
h1
{
background: CornflowerBlue;
color: Navy;
padding-top: 50px;
padding-right: 300px;
padding-bottom: 50px;
padding-left: 300px
} 
h1
{
font-size: 80px
} 
h4 {
font-size: 20px
}

h1 {
font-family: 'Lucida Handwriting'
}

h4 {
font-family: 'Lucida Console'
}
.text {
    margin-top: 30px;
    margin-right: 400px;
    margin-bottom: 30px;
    margin-left: 400px
    }
    
   
    
    .button {
    margin-top: 30px;
    margin-right: 400px;
    margin-bottom: 50px;
    margin-left: 400px
    }
    
    #iscrizione {
    background: Gainsboro;
    color: Indigo;
    margin-top: 10px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-left: 300px;
    }
    
    
    #iscrizione {
    font-family: "Monaco"
    }
    
    
    
    h3
    {
    margin-top: 10px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-left: 300px;
    }
    h3 {
        font-size: 30px
        }
    .button2 {
     margin-top: 30px;
    margin-right: 400px;
    margin-bottom: 50px;
    margin-left: 400px
    }
    .button3 {
        margin-top: 30px;
        margin-right: 400px;
        margin-bottom: 50px;
        margin-left: 400px
        }
#sassi {
        margin-top: 50px;
        margin-right: 600px;
        margin-bottom: 50px;
        margin-left: 600px
}






